<% include ../partials/header %>


<main>

    <!-- LOADS USER INFORMATION ON SIDE PANEL -->
    <div id="user">
        <% if (user) { %>
        <div id="user-card">
            <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" class="user-avatar">
            <% } else { %>
            <div class="default-avatar"><i class="gg-bot"></i></div>
            <% } %>
        </div>
        <div class="user-name"><%= user.name %></div>
        <% } else { %>
        <div id="user-card">
            this is where the user stuff will go
        </div>
        <% } %>
        <a href="/users/show">my profile</a>
    </div>


    <div id="feed">

        <!-- if logged in, prompt user for a new report -->
        <% if (user) { %>
        <div id="new-post">
            <h3>what are you watching now?</h3>
            <form method="POST" action="/reports">
                <label>Title:
                    <input type="text" name="movie" autocomplete="off" required>
                </label><br>
                <label>Report:
                    <input type="text" name="content" autocomplete="off" required>
                </label><br>
                <label>Rating:
                    <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7" selected>7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select></label>
                <input type="submit" value="send">
            </form>
        </div>
        <% } else { %>
        <div>you must log in to post.</div>
        <% } %>

        <div id="all-reports">

            <!-- this is one single report -->
            <% report.forEach(function(r) { %>
            <div class="each-report">

                <!-- user info and time -->
                <div class="user-reporting-info">
                    <div class="pic-and-name">
                        <% if (r.userReporting.avatar) { %>
                        <img src="<%= r.userReporting.avatar %>" class="user-avatar">
                        <% } else { %>
                        <div class="reporter-pic"><i class="gg-bot"></i></div>
                        <% } %>
                        <div id="name-container">
                            <a href="/users/show" class="user-name"><%= r.userReporting.name %></a>
                            <p>is watching...</p>
                        </div>
                    </div>
                    <div class="time-created"><%= r.createdAt %></div>
                </div>

                <div class="user-input">
                    <!-- poster img -->
                    <img class="poster" src="/images/defaultposter.png">

                    <!-- user report input -->
                    <div class="text-container">
                        <h4 id="report-movie"><%= r.movie %></h4>
                        <p id="report-content"><%= r.content %></p>
                        <div id="report-rating">Rating: <%= r.rating %>/10</div>
                    </div>
                </div>

                <!-- option buttons -->
                <div class="options-container">
                    <form class="new-comment" method="POST" action="/reports/<%= r._id %>/comments">
                        <input id="comment-input" type="text" name="text" placeholder="Comment as <%= user.name %>..."
                            autocomplete="off" required>
                        <input type="submit" value="Comment">
                    </form>

                    <!-- userReporting only option buttons -->
                    <% if (user) { %>
                    <% if (user._id.toString() === r.userReporting._id.toString()) { %>

                    <div id="user-only-buttons">
                        <button type="button" class="report-edit-button">EDIT</button>

                        <!-- comment out edit button to fix style & implement easier editing 
                        <button class="collapsible" type="button">EDIT</button>
                    <form class="collapse" id="edit-report-form" method="POST" action="/reports/<%= r._id %>?_method=PUT">
                        <label>Title:
                            <input type="text" name="movie" value="<%= r.movie %>">
                        </label><br>
                        <label>Report:
                            <input type="text" name="content" value="<%= r.content %>">
                        </label><br>
                        <label>Rating:
                            <select name="rating" value="<%= r.rating %>">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </label>
                        <input type="submit" value="Submit Edit">
                    </form> -->

                        <form action="/reports/<%= r._id %>?_method=DELETE" class="delete-form" method="POST">
                            <button type="submit" class="delete">DELETE</button>
                        </form>
                    </div>
                    <% } else { %>
                    <% } %>
                    <% } else { %>
                    <% } %>
                </div>

                <div class="reports-comments">
                    <a href="javascript:void(0);" ¸ id="comment-count" class="collapsible"><%= r.comments.length %>
                        Comments</a>
                    <div class="content">
                        <% if (r.comments.length) { %>

                        <% r.comments.forEach(function(c) { %>

                        <div class="each-comment">
                            <%= c.userName %>: <%= c.text %>

                            <% if (user) { %>
                            <% if (user._id.toString() === c.userId.toString()) { %>
                            <button class="each-comment-button"><i class="gg-pen"></i></button>
                            <form action="/<%= r._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button class="each-comment-button" type="submit"><i class="gg-trash"></i></button>
                            </form>
                            <% } else { %>
                            <% } }%>
                        </div>
                        <% }); %>

                        <% } else { %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }); %>

        </div>

        <!-- this is where one single report ends -->
    </div>
</main>

</body>