<% include ../partials/header %>
<main>
    <div class="movie-search">
        <h2>search for a movie</h2>
        <form action="/movies">
            <input type="text" placeholder="Movie title here..." name="search" required>
            <input type="submit" value="Search">
        </form>

    </div>

    <% if (user) { %>
    <div id="new-post">
        <h2>what are you watching now?</h2>
        <form method="POST" action="/reports">
            <label>Title:
                <input type="text" name="movie" autocomplete="off" required>
            </label><br>
            <label>Report:
                <input type="text" name="content" autocomplete="off" required>
            </label><br>
            <label>Rating:
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select></label>
            <input type="submit" value="Report">
        </form>
    </div>
    <% } else { %>
    <div>you must log in to post.</div>
    <% } %>
    <% report.forEach(function(r) { %>
    <div class="each-report">
        <div id="user-report">
            <img class="poster" src="/images/defaultposter.png">
            <div id="user-input">
                <div id="user-info">
                    <div>
                        <img src="<%= r.userReporting.avatar %>" class="user-avatar">
                        <a href="/users/<%= r.userReporting._id %>" class="user-name"><%= r.userReporting.name %></a>
                    </div>
                    <p>
                        <%= r.createdAt.toLocaleDateString() %>
                        <%= r.createdAt.toLocaleTimeString('en-US', {hour:"2-digit", minute: "2-digit"} ) %>
                    </p>
                </div>
                <h3 id="report-movie"><%= r.movie %></h3>
                <p><%= r.rating %>/5 - <%= r.content %></p>
            </div>
        </div>

        <div class="options-container">
            <form class="new-comment" method="POST" action="/reports/<%= r._id %>/comments">
                <input id="comment-input" type="text" name="text" placeholder="Comment as <%= user.name %>..."
                    autocomplete="off" required>
                <input type="submit" value="Send">
            </form>
        </div>

        <div class="reports-comments">
            <a href="javascript:void(0);" id="comment-count" class="collapsible">‣ <%= r.comments.length %>
                Comments</a>
            <div class="content">
                <% if (r.comments.length) { %>
                <% r.comments.forEach(function(c) { %>
                <div class="each-comment">
                    <div id="user-info">
                        <a href="/users/<%= c.userName._id %>" class="user-name"><%= c.userName %></a>
                        <p>
                            <%= c.createdAt.toLocaleDateString() %>
                            <%= c.createdAt.toLocaleTimeString('en-US', {hour:"2-digit", minute: "2-digit"} ) %>
                        </p>
                    </div>
                    <p><%= c.text %></p>
                </div>
                <% }); %>
                <% } else { %>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>

</main>
</body>

</html>