<% include ./partials/header %>

<main>
    <section class="page-card page-card-long pop-movies">
        <h2 class="popular-header">Popular Movies</h2>
        <a href="/movies/popular">see all</a>
        <div class="scrollmenu">
            <% popularMovies.forEach(function(movie) { %>
                <div class="movie-card">
                    <a href="/movies/<%= movie.id %>">
                        <% if(movie.poster_path) { %>
                            <img class="poster-big" src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>">
                        <% } else { %>
                            <img class="poster-big" src="/images/defaultposter.png">
                        <% } %>
                            <h4 id="movie-title"><%= movie.title %></h4>
                    </a>
                </div>
            <% }) %>
        </div>
    </section>
    
    <section class="page-card page-card-long pop-tv">
        <h2 class="popular-header">Popular TV Shows</h2>
        <a href="/tvshows/popular">see all</a>
        <div class="scrollmenu">
            <% popularTV.forEach(function(tv) { %>
                <div class="tv-card">
                    <a href="/tvshows/<%= tv.id %>">
                        <% if(tv.poster_path) { %>
                            <img class="poster-big" src="https://image.tmdb.org/t/p/w200/<%= tv.poster_path %>">
                        <% } else { %>
                            <img class="poster-big" src="/images/defaultposter.png">
                        <% } %>
                        <h4 id="movie-title"><%= tv.name %></h4>
                    </a>
                </div>
            <% }) %>
        </div>
    </section>

    <section class="page-card page-card-long pop-tv">
        <h2 class="popular-header">Trending Movies</h2>
        <a href="/tvshows/popular">see all</a>
        <div class="scrollmenu">
            <% trending.forEach(function(trend) { %>
                <% if (trend.media_type == 'movie') { %>
                    <div class="tv-card">
                        <a href="/movies/<%= trend.id %>">
                            <% if(trend.poster_path) { %>
                                <img class="poster-big" src="https://image.tmdb.org/t/p/w200/<%= trend.poster_path %>">
                            <% } else { %>
                                <img class="poster-big" src="/images/defaultposter.png">
                            <% } %>
                            <h4 id="movie-title"><%= trend.name %></h4>
                        </a>
                    </div>
                <% }}) %>
        </div>
    </section>

    <section class="page-card page-card-long pop-tv">
        <h2 class="popular-header">Trending TV Shows</h2>
        <a href="/tvshows/popular">see all</a>
        <div class="scrollmenu">
            <% trending.forEach(function(trend) { %>
                <% if (trend.media_type == 'tv') { %>
                    <div class="tv-card">
                        <a href="/tvshows/<%= trend.id %>">
                            <% if (trend.poster_path) { %>
                                <img class="poster-big" src="https://image.tmdb.org/t/p/w200/<%= trend.poster_path %>">
                            <% } else { %>
                                <img class="poster-big" src="/images/defaultposter.png">
                            <% } %>
                            <h4 id="movie-title"><%= trend.name %></h4>
                        </a>
                    </div>
                <% }}) %>
        </div>
    </section>

</main>
</body>

</html>