<% include ../partials/header %>

<main>

    <div class="page-card">
        <div>
            <div id="title-info">
                <h2><%= tv.name %></h2>
            </div>
            <div id="tv-img">
                <% if(tv.poster_path) { %>
                <img class="poster-big" src="https://image.tmdb.org/t/p/w200/<%= tv.poster_path %>">
                <% } else { %>
                <img class="poster-big" src="/images/defaultposter.png">
                <% } %>
            </div>
            <div>
                <br />
                <p><%= tv.overview %></p>
                <br />
                <p>First Aired: <%= tv.first_air_date %></p>
                <p>Genres: <% tv.genres.forEach(function(genre, idx) { %>
                    <% if(idx < tv.genres.length-1) { %>
                    <%= genre.name %>,
                    <% } else { %>
                    <%= genre.name %>
                    <% }}) %>
                </p>
            </div>
        </div>

        <br />
        <hr />
        <br />

        <% if(user) { %>
            <div>
                <form method="POST" action="/users/<%= user._id %>/movie/<%= tv.id %>">
                    <button type="submit">Add to Watchlist</button>
                </form>
            <br />
            <hr />
            <br />
                <div>Write a Report</div>
                <form method="POST" action="/reports/<%= tv.id %>">
                    <label>Report:
                    <input type="text" name="text" autocomplete="off" required>
                    </label><br>
                    <label>Rating:
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                        </select>
                    </label>
                    <input type="submit" value="send report">
                </form>
                <% } else { %>
                    <a href="/auth/google">Login with Google</a><span> to add to watchlist and leave a report.</span>
                <% } %>
            </div>

        <% if(reports) { %>
            <br />
            <hr />
            <br />
            <% reports.forEach(function(report) { %>
                <div class="user-report">
                    <div class="user-info">
                        <a href="/users/<%= report.user._id %>" class="user-name"><%= report.user.name %></a>
                        <span><%= report.createdAt.toDateString() %> <%= report.createdAt.toLocaleTimeString('en-US') %></span>
                    </div>
                    <div class="user-input">
                        <p id="report-text"><%= report.text %></p>
                        <div id="report-rating">Rating: <%= report.rating %>/5</div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No reports yet.</p>
        <% } %>
    </div>
</main>
</body>

</html>