<% include ../partials/header %>

<main>

    <h2>Search results for "<%= search %>":</h2>

    <% allResults.forEach(function(movie) { %>
    <div class="panel">
        <div id="movie-info">
            <% if(movie.poster_path) { %>
            <img class="poster" src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>">
            <% } else { %>
            <img class="poster" src="/images/defaultposter.png">
            <% } %>
            <div id="title-desc">
                <h3 id="movie-title"><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h3>
                <p><%= movie.release_date %></p>
                <p id="movie-desc"><%= movie.overview %></p>
            </div>
        </div>
    </div>
    <% }); %>

</main>
</body>

</html>